Repository ajhynes7/scikit-spatial: changes, and which pre-commit hooks are due for each by the changed paths.
All: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

reorder_python_imports:
  name: reorder-python-imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories
  - .:src

black:
  name: black
  language: system
  entry: black

add_trailing_comma:
  name: add-trailing-comma
  entry: add-trailing-comma
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

Fix formatting issues.
  src/skspatial/_functions.py
  src/skspatial/objects/vector.py
  tests/unit/objects/test_vector.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Reformat string in test_angle_signed_3d_failure
  tests/unit/objects/test_vector.py
Due: reorder_python_imports, black, add_trailing_comma, flake8

Remove example from angle_signed_3d docstring
  src/skspatial/objects/vector.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Feat: Add method `Vector.angle_signed_3d` (#315)
  docs/source/api_reference/skspatial.objects.Vector.rst
  src/skspatial/_functions.py
  src/skspatial/objects/vector.py
  tests/unit/objects/test_vector.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Feat: Add parameter tol to intersect_line
  src/skspatial/objects/line.py
  src/skspatial/objects/line_segment.py
  src/skspatial/objects/triangle.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Build: Update history and version
  HISTORY.rst
  pyproject.toml
Due: none

Build: Update history and version (#321)
  HISTORY.rst
  pyproject.toml
Due: none

Update src/skspatial/objects/line.py
  src/skspatial/objects/line.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Update src/skspatial/objects/line_segment.py
  src/skspatial/objects/line_segment.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Update src/skspatial/objects/triangle.py
  src/skspatial/objects/triangle.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Fix: rewrite docs, functions && add tests
  src/skspatial/__init__.py
  src/skspatial/objects/line.py
  src/skspatial/objects/line_segment.py
  src/skspatial/objects/triangle.py
  tests/unit/objects/test_line.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

fix: remove test comment.
  src/skspatial/__init__.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

docs: update docs of line.intersect_line.
  src/skspatial/objects/line.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

docs: fix docs with respect to E501.
  src/skspatial/objects/line.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

feat: begin `intersect_circle` method
  src/skspatial/objects/circle.py
  tests/unit/objects/test_circle.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

test: add more `intersect_circle` tests
  tests/unit/objects/test_circle.py
Due: reorder_python_imports, black, add_trailing_comma, flake8

feat: handle errors
  src/skspatial/objects/circle.py
  tests/unit/objects/test_circle.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

doc: add gallery example
  docs/source/api_reference/skspatial.objects.Circle.rst
  examples/intersection/plot_circle_circle.py
Due: black, add_trailing_comma, flake8

refactor: use array to compute plus/minus
  src/skspatial/objects/circle.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

doc: fix doctests
  src/skspatial/objects/circle.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

ci: try adding toml to fix pydocstyle
  pyproject.toml
Due: none

Feat: Add `Circle.intersect_circle` method (#324)
  docs/source/api_reference/skspatial.objects.Circle.rst
  examples/intersection/plot_circle_circle.py
  pyproject.toml
  src/skspatial/objects/circle.py
  tests/unit/objects/test_circle.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Docs: Attempt to fix docs build
  .readthedocs.yml
  docs/source/requirements.txt
  pyproject.toml
  tox.ini
Due: none

Docs: Fix `extra_requirements` to be a list
  .readthedocs.yml
Due: none

Docs: Try using `requirements` instead of `extra_requirements`
  .readthedocs.yml
Due: none

Docs: Fix `.readthedocs.yml`
  .readthedocs.yml
Due: none

Docs: Improve gallery example of circle-circle interesection
  examples/intersection/plot_circle_circle.py
Due: black, add_trailing_comma, flake8

Docs: Add citation file
  CITATION.cff
Due: none

Docs: remove outdated pre-commit-ci badge
  README.rst
Due: none

Docs: Update Sphinx and make some fixes/improvements
  docs/source/api_reference/skspatial.objects.Circle.rst
  docs/source/api_reference/skspatial.objects.Cylinder.rst
  docs/source/api_reference/skspatial.objects.Line.rst
  docs/source/api_reference/skspatial.objects.LineSegment.rst
  docs/source/api_reference/skspatial.objects.Plane.rst
  docs/source/api_reference/skspatial.objects.Point.rst
  docs/source/api_reference/skspatial.objects.Points.rst
  docs/source/api_reference/skspatial.objects.Sphere.rst
  docs/source/api_reference/skspatial.objects.Triangle.rst
  docs/source/api_reference/skspatial.objects.Vector.rst
  docs/source/conf.py
  docs/source/requirements.txt
  src/skspatial/objects/circle.py
  tox.ini
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Docs: Fix readthedocs build by downgrading Sphinx
  docs/source/requirements.txt
Due: none

CI: Use URLs in pre-commit config
  .pre-commit-config.yaml
  pyproject.toml
  tox.ini
Due: none

Docs: Restore pre-commit-ci badge
  README.rst
Due: none

Feat: Add `check_coplanar` kwarg to `Line.intersect_line` (#320)
  src/skspatial/objects/line.py
  src/skspatial/objects/line_segment.py
  src/skspatial/objects/triangle.py
  tests/unit/objects/test_line.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Rename sphere to circle in best_fit docstring
  src/skspatial/objects/circle.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Add best_fit classmethod to cylinder.py
  src/skspatial/objects/cylinder.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Add unit test for best_fit classmethod
  tests/unit/objects/test_cylinder.py
Due: reorder_python_imports, black, add_trailing_comma, flake8

Lint: Add flake8 plugins
  .pre-commit-config.yaml
Due: none

Improve best_fit method docstring
  src/skspatial/objects/cylinder.py
Due: reorder_python_imports, black, add_trailing_comma, flake8, pydocstyle

Path conditions:
  reorder_python_imports: any of: \.py$, but not: ^examples/
  black: any of: \.py$
  add_trailing_comma: any of: \.py$
  flake8: any of: \.py$
  pydocstyle: any of: \.py$, but not: tests|examples|conf.py
